.menu-list {
    @extend %flex ;  
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 94px;
 
}

.menu-list__icon {
    @extend %flex ;  
}

.menu-list__link {
    @extend %flex ;  
  
}

.menu-list__item {
    @extend %flex ;  
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.wrup__ul {
    padding-top: 94px;
    @extend %flex ;  
    flex-wrap: wrap;
    gap: 30px;
}
.wrapper__im{
    width: 170px;
    height: 92px;
    background: var(--main-icn-cololor);
}


.link__sots {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @extend %flex ;  
    color:  var(--main-so-color);
}
  
.link__sots:hover , .link__sots:focus {
    fill: var(--main-sir-color);
    background-color: var(--main-one-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__item:focus, .menu-list__item:hover {
    fill: var(--main-one-color);
    border-color: var(--main-one-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .menu-list__item, .link__sots {
        fill: var(--main-icon-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.sotsial__list{
    display: flex;
    gap: 10px;
    justify-content:  center ;   
}
